<main>
  <div class="upper-row">
    <mat-card class="card active-contacts">
      <mat-card-content>
        <a href="/contacts" class="card-content">
          <span class="card-title">Active Contacts</span>
          <div class="card-info">
            <span class="card-number">{{ this.dataManagement.activeContacts | dashboardContacts}}</span>
            <mat-icon>group</mat-icon>
          </div>
        </a>
      </mat-card-content>
    </mat-card>
    <mat-card class="card customers">
      <mat-card-content>
        <a href="/contacts" class="card-content">
          <span class="card-title">Total Costumers</span>
          <div class="card-info">
            <span class="card-number">150</span>
            <mat-icon>business</mat-icon>
          </div>
        </a>
      </mat-card-content>
    </mat-card>
    <mat-card class="card deals">
      <mat-card-content>
        <div class="card-content">
          <span class="card-title">Deals Closed</span>
          <div class="card-info">
            <span class="card-number">300</span>
            <mat-icon>check_circle</mat-icon>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card class="card next-deal">
      <mat-card-content>
        <div class="card-content">
          <span class="card-title">Upcoming Deal</span>
          <span>In the next 7 Days</span>
          <div class="card-info">
            <span class="card-number">1</span>
            <mat-icon>local_fire_department</mat-icon>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card class="card deal-size">
        <mat-card-content>
          <div class="card-content">
            <span class="card-title">Deal Size</span>
            <div class="card-info">
              <span class="card-number">1 €</span>
              <mat-icon>account_balance_wallet</mat-icon>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
      <mat-card class="card deals-won">
        <mat-card-content>
          <div class="card-content">
            <span class="card-title">Deals Won</span>
            <div class="card-info">
              <span class="card-number">1</span>
              <mat-icon>emoji_events</mat-icon>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
  </div>
  <div class="diagram-container">
    <!-- Diagram placeholder -->
  </div>
</main>
