<main>
  <header>
    <h1>Simple CRM</h1>
    <span>Customer Management at a Glance</span>
  </header>
  <div class="upper-row">
    <mat-card class="card active-contacts" [routerLink]="['contacts']">
      <mat-card-content >
        <div class="card-content">
          <span class="card-title">Active Contacts</span>
          <div class="card-info">
            <span class="card-number">{{
              this.dataManagement.activeContacts | dashboardContacts
            }}</span>
            <mat-icon>group</mat-icon>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card class="card customers" [routerLink]="['contacts']">
      <mat-card-content >
        <div class="card-content">
          <span class="card-title">Total Costumers</span>
          <div class="card-info">
            <span class="card-number">{{
              this.dataManagement.activeContacts | customers
            }}</span>
            <mat-icon>business</mat-icon>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card class="card deals-check" [routerLink]="['deals']">
      <mat-card-content >
        <div class="card-content">
          <span class="card-title">Deals to Check</span>
          <div class="card-info">
            <span class="card-number">{{
              this.dataManagement.deals | dealsCheck
            }}</span>
            <mat-icon>check_circle</mat-icon>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card class="card next-deal" [routerLink]="['schedule']">
      <mat-card-content >
        <div class="card-content">
          <span class="card-title">Upcoming Deals</span>
          <span class="title-subtext">In the next 7 Days</span>
          <div class="card-info">
            <span class="card-number">{{
              this.dataManagement.deals | upcomingDeal
            }}</span>
            <mat-icon>local_fire_department</mat-icon>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card class="card deal-size" [routerLink]="['deals']">
      <mat-card-content >
        <div class="card-content">
          <span class="card-title">Deal Size</span>
          <div class="card-info">
            <span class="card-number">{{
              this.dataManagement.deals | dealSize
            }}</span>
            <mat-icon>euro</mat-icon>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card class="card deals-won" [routerLink]="['deals']">
      <mat-card-content >
        <div class="card-content">
          <span class="card-title">Deals Won</span>
          <div class="card-info">
            <span class="card-number">{{
              this.dataManagement.deals | dealWon
            }}</span>
            <mat-icon>emoji_events</mat-icon>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="diagram-container">
    <!-- Diagram placeholder -->
  </div>
</main>
