@import "../../../../mixins.scss";

input {
  width: 100%;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 1px solid rgb(184, 184, 184);
  border-color: transparent;
  background: none;
  padding: 0;
  padding: 5px;
  margin: 0;
  font: inherit;
  color: inherit;
  box-shadow: none;
  outline: none;
  -moz-box-sizing: border-box;
  transition: all 125ms ease-in-out;
  &:hover {
    border-color: rgb(184, 184, 184);
  }
  &:focus {
    border: 1px solid grey;
  }
}

.table-container {
  @include dFlex($g: 16px, $ai: flex-start);
width: 1920px;
}

.button-container {
  mat-icon {
    margin: 0;
  }
  button {
    color: $lightcolor;
    background-color: $darkcolor;
    &:hover {
      background-color: $darkcolorHover;
    }
    &:active {
      &:hover {
        background-color: $darkcolor;
      }
    }
  }
  mat-icon {
    color: $lightcolor;
  }
}

#customers {
  border-collapse: collapse;
}

.table-head {
  th:first-of-type {
    width: 60px;
  }
}

#customers td,
#customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even) {
  background-color: #f2f2f2;
}

#customers td:hover {
  transition: all 125ms ease-in-out;
  background-color: #dddddd8a;
}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: rgb(225, 239, 242);
  color: rgb(68, 71, 78);
}

#customers th:last-of-type {
  padding: 0px 40px;
}

.add-container {
  mat-icon {
    border-radius: 50%;
    cursor: pointer;
    transition: all 100ms ease-in-out;
    &:hover {
      background-color: $lightcolorHover;
    }
    &:active {
      background-color: $lightcolor;
    }
  }
}

.add-contact-row {
  padding-left: 61px;
  border-bottom: 1px solid #ddd;
}
.add {
  width: 100% !important;
  height: 100% !important;
  @include dFlex($fd: row, $g: 8px);
  border: 0 !important;
  > input {
    text-align: end;
  }
  mat-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: $darkcolor;
    transition: all 100ms ease-in-out;
    &:hover {
      color: $darkcolorHover;
    }
  }
}

.empty-field {
  &:hover {
    background-color: #ffffff00 !important;
  }
}
