<div class="table-container">
  <table mat-tabl class="mat-elevation-z8 demo-table">
    <!-- Checkbox Column -->
    <ng-container matColumnDef="checked">
      <th mat-header-cell *matHeaderCellDef>
        <section (click)="checkAllContacts()" class="example-section">
          <mat-checkbox [checked]="allChecked" class="example-margin"></mat-checkbox>
        </section>
      </th>
      <td mat-cell *matCellDef="let element">
        <section class="example-section">
          <mat-checkbox [checked]="element.checked" class="example-margin"></mat-checkbox>
        </section>
      </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">{{element.name}}</td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="role">
      <th mat-header-cell *matHeaderCellDef>Role</th>
      <td mat-cell *matCellDef="let element">{{element.role}}</td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="symbol">
      <th mat-header-cell *matHeaderCellDef>Symbol</th>
      <td mat-cell *matCellDef="let element">{{element.tel}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
