<div class="table-container">
  <table mat-table class="mat-elevation-z8 demo-table">
    <!-- Tabellenkopf -->
    <thead>
      <tr>
        <!-- Checkbox für "Alle auswählen" -->
        <th>
          <section (click)="checkAllContacts()" class="example-section">
            <mat-checkbox [checked]="allChecked" class="example-margin"></mat-checkbox>
          </section>
        </th>
        <!-- Spaltenüberschriften -->
        <th>Name</th>
        <th>Role</th>
        <th>Tel</th>
      </tr>
    </thead>

    <!-- Tabellenkörper -->
    <tbody>
      @for (item of this.contactsData; track item; let i = $index) {
      <tr>
        <!-- Checkbox für einzelne Zeilen -->
        <td>
          <section class="example-section">
            <mat-checkbox [(ngModel)]="item.checked" class="example-margin"></mat-checkbox>
          </section>
        </td>

        <!-- Name Spalte -->
        <td>{{item.name}}</td>

        <!-- Role Spalte -->
        <td>{{item.role}}</td>

        <!-- Telefon Spalte -->
        <td>{{item.tel}}</td>
      </tr>
      }
    </tbody>
  </table>

</div>