<div class="table-container">
  <div class="button-container">
    <button mat-raised-button><mat-icon>exit_to_app</mat-icon>Inactive</button>
  </div>
  <table id="customers">
    <tr class="table-head">
      <th>
        <section (click)="checkAllContacts()" class="example-section">
          <mat-checkbox [checked]="allChecked" class="example-margin"></mat-checkbox>
        </section>
      </th>
      @for(item of this.columns; track item; let i = $index) {
      <th [class]="item"><input type="text" (input)="this.columns[i]=getValue($event)" [value]="item"></th>
      }
      <th class="button-container">
        <button (click)="addNewColumn()" mat-raised-button matTooltip="Add a new Column"
          aria-label="Button that displays a tooltip when focused or hovered over">
          <mat-icon>add</mat-icon>
        </button>
      </th>
    </tr>
    @for (item of this.contactsData; track item; let i = $index) {
    <tr class="content-row">
      <td>
        <section class="example-section">
          <mat-checkbox [(ngModel)]="item.checked" class="example-margin"></mat-checkbox>
        </section>
      </td>
      <td><input type="text" (input)="item.name=getValue($event)" [value]="item.name"></td>
      <td><input type="text" (input)="item.role=getValue($event)" [value]="item.role"></td>
      <td><input type="text" (input)="item.tel=getValue($event)" [value]="item.tel"></td>
      <td><input type="text" (input)="item.email=getValue($event)" [value]="item.email"></td>
      <td></td>
    </tr>
    }
    <tr (keydown)="keyboardAddContact($event)" class="content-row add-contact-row">
      <td class="empty-field"></td>
      <td class="add"><input [(ngModel)]="newContact.name" type="text" placeholder="Add contact"><mat-icon
          (click)="mouseAddContact()">add_circle</mat-icon></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </table>

</div>