@import "../../../../mixins.scss";

.table-container {
  @include dFlex($g: 16px, $ai: flex-start);
}

ul {
  list-style-type: none;
  margin-top: 4px;
}

.add-contact-button {
  padding: 0;
  width: auto;
  > mat-icon {
    margin: 0;
  }
}

.demo-table {
  width: 100%;
  max-width: 100%;
  border-radius: 15px;
  display: block;
  overflow: hidden;

  thead {
    text-align: left;
    width: 100%;
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid rgb(228, 228, 228);
    padding-left: 10px;
    th {
      height: auto;
      width: 150px;
      font-weight: bold;
    }
  }

  tbody {
    width: 100%;
    tr {
      width: 100%;
      @include dFlex($fd: row);
      border-bottom: 1px solid rgb(228, 228, 228);

      &:last-of-type {
        border-bottom: 0;
      }
      &:hover {
        background-color: rgb(245, 246, 248);
      }
      td {
        width: 150px;
        padding: 10px;
        text-align: left;
        border-right: 1px solid black;
      }
    }
  }
}
