<div class="table-container">
  <div class="button-container">
    <button mat-button><mat-icon>archive</mat-icon>Inactive</button>
    <button mat-button (click)="tableControl.deleteContacts('inactive')"><mat-icon>delete</mat-icon>Trash</button>
  </div>
  <div id="customers" class="table">
    <!-- Table Header -->
    <div class="table-head row">
      <div class="cell checkbox-cell">
        <section (click)="tableControl.checkAllContacts('inactive')" class="example-section">
          <mat-checkbox [checked]="tableControl.allCheckedInactive" class="example-margin"></mat-checkbox>
        </section>
      </div>
      @for(item of this.dataBackup.inactiveTableColumns; track $index; let i = $index) {
      @if (item.name == "Contacts") {
      <div class="cell Contacts">
        <span>{{item.name}}</span>
      </div>
      } @else {
      <div class="cell">
        <span>{{item.name}}</span>
      </div>
      }
      }

      <!-- Add Column Menu -->
      <div class="cell button-container">
        <button [matMenuTriggerFor]="menu" mat-raised-button matTooltip="Add a new Column">
          <mat-icon>add</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button (click)="tableControl.addColumn('note', 'inactive')" mat-menu-item><mat-icon
              class="note">history_edu</mat-icon> Note</button>
          <button (click)="tableControl.addColumn('type', 'inactive')" mat-menu-item><mat-icon
              class="type">supervised_user_circle</mat-icon>
            Type</button>
          <button (click)="tableControl.addColumn('status', 'inactive')" mat-menu-item><mat-icon
              class="status">bolt</mat-icon> Status</button>
          <button (click)="tableControl.addColumn('prio', 'inactive')" mat-menu-item><mat-icon
              class="prio">priority_high</mat-icon>
            Priority</button>
        </mat-menu>
      </div>
    </div>

    <!-- Table Content Rows -->
    @if (dataBackup.inactiveContacts.length > 0) {
    @for (item of this.dataBackup.inactiveContacts; track $index; let i = $index) {
    <div class="row content-row">
      <div class="cell checkbox-cell">
        <section class="example-section">
          <mat-checkbox [(ngModel)]="item.checked" class="example-margin"></mat-checkbox>
        </section>
      </div>
      <div class="cell Contacts"><input type="text" (input)="item.name=getValue($event)" [value]="item.name"></div>
      <!-- Tel Edit Menu -->
      @if (item.tel.length > 0) {
      <div (mouseover)="hoverAction('tel')" (mouseout)="mouseOutAction();" class="cell email-cell"><a
          [href]="'tel:' + item.email">{{item.tel}}</a><mat-icon (click)="tableControl.deleteTel(i, 'inactive')"
          [ngClass]="{'d-none': !phoneHovered}">close</mat-icon>
      </div>
      } @else {
      @if (!tableControl.telEditInactive) {
      <div class="cell email-cell add-button">
        <mat-icon (click)="tableControl.openTelInput('inactive')">add_box</mat-icon><mat-icon
          class="default-icon">phone_iphone</mat-icon>
      </div>
      } @else {
      <div class="cell">
        <input class="dialog-input" type="text" (keydown)="tableControl.saveTelData($event, i, 'inactive')" placeholder="0 (123) 123 45690">
      </div>
      }
      }
      <!-- Email Edit Menu -->
      @if (item.email.length == 0) {
      <div class="cell email-cell add-button">
        <mat-icon (click)="tableControl.openEmailDialog($event, 'inactive')">add_box</mat-icon><mat-icon
          class="default-icon">mail</mat-icon>
        <div (click)="tableControl.closeEmailDialog('inactive')" class="input-dialog"
          [ngClass]="{'d-none': !tableControl.emailDialogInactive}">
          <div (click)="tableControl.preventDefault($event)" [ngStyle]="{'top': tableControl.dialogPositionY + 'px'}">
            <span>Add a new email-adress</span>
            <input class="dialog-input" placeholder="Add email" #emailInput
              (keydown)="tableControl.onInputChange($event, i, emailInput.value, 'inactive')">
            <span>Displayed text</span>
            <input class="dialog-input" id="visible" placeholder="(optional)"
              (keyup)="tableControl.visibleEmail($event, i, emailInput.value, 'inactive')">
          </div>
        </div>
      </div>
      <!-- Email Data -->
      } @else {
      <div (mouseover)="hoverAction('email')" (mouseout)="mouseOutAction();" class="cell email-cell"><a
          [href]="'mailto:' + item.email">
          @if (item.visibleEmail.length > 0) {
          {{item.visibleEmail}}
          } @else {
          {{item.email}}
          }
        </a><mat-icon [ngClass]="{'d-none': !emailHovered}"
          (click)="tableControl.deleteEmail(i, 'inactive');">close</mat-icon>
      </div>
      }
      @for (item of item.newColumns; track $index) {
      <div class="cell"></div>
      }
    </div>
    }
    }

    <!-- Add New Contact Row -->
    <div class="row content-row add-contact-row" (keydown)="tableControl.keyboardAddContact($event, 'inactive')">
      <div class="cell empty-field checkbox-cell"></div>
      <div class="cell add Contacts">
        <mat-icon (click)="tableControl.mouseAddContact('inactive')">add_circle</mat-icon>
        <input [(ngModel)]="tableControl.newContactInactive" type="text" placeholder="Add contact">
      </div>
      <div class="cell typ-cell"></div>
      <div class="cell"></div>
      @if (dataBackup.inactiveContacts[0]) {
      @for (item of dataBackup.inactiveContacts[0].newColumns; track $index) {
      <div class="cell"></div>
      }
      } @else {
      <div class="cell"></div>
      }

    </div>
  </div>
</div>