@import "../../../../../mixins.scss";

input {
  width: 100%;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 1px solid rgb(184, 184, 184);
  border-color: transparent;
  border-radius: 5px;
  background: none;
  padding: 5px;
  margin: 0;
  font: inherit;
  color: inherit;
  box-shadow: none;
  outline: none;
  transition: all 125ms ease-in-out;

  &:hover {
    border-color: rgb(184, 184, 184);
  }

  &:focus {
    border: 1px solid grey;
  }
}

.button-container {
  mat-icon {
    background: none;
    color: white;
    margin: 0;
    &:hover {
      background-color: none;
      color: none;
    }
  }
  button {
    color: white;
    background-color: $darkcolor;
  }
}



.empty-field {
  background-color: white;
  &:hover {
    background-color: #ffffff00 !important;
  }
}

.row {
  display: flex;
}

.cell {
  padding: 0px 8px;
  min-height: 50px;
  min-width: 210px;
  @include dFlex($fd: row);
  flex: 1;
  border: 1px solid #ddd;
}

.header-cell {
  justify-content: flex-start;
}

.columnCell {
  @include dFlex($fd: row, $jc: space-between);
}

mat-icon {
  @include dFlex();
  text-align: center;
  transition: all 125ms ease-in-out;
  cursor: pointer;
  border-radius:50%;
  color: $darkcolor;
  font-size: 20px;
  width: 28px;
  height: 28px;
  &:hover {
    color: $darkcolorHover;
  }
}

.checkbox-cell {
  min-width: 50px;
  flex: 0;
  padding: 0;
  position: sticky;
  background-color: white;
}

.typ-headcell .typ-cell {
  flex: 0;
  min-width: 120px;
}

.matMenu-button {
  mat-icon {
    background-color: none !important;
  }
}

.email-cell {
  @include dFlex($fd: row, $g: 4px, $jc: space-between);
  font-size: 12px;
}

.head-button-container {
  @include dFlex($fd: row, $g: 4px);
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-contact-row .add {
  display: flex;
  align-items: center;
}

.add-button {
  @include dFlex($fd: row, $g: 8px);
  color: $darkcolor;
  mat-icon {
    height: 28px;
    width: 28px;
    font-size: 20px;
  }
}

.contact-add {
  mat-icon {
    font-size: 24px;
    background-color: transparent;
  }
}

.default-icon {
  color: grey;
  background-color: transparent !important;
  cursor: auto !important;

  &:hover {
    background-color: transparent !important;
  }
}

.input-dialog {
  > div {
    position: absolute;
    top: 28px;
    width: max-content;
    @include dFlex($g: 8px);
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 15px;
    padding: 16px;
  }
}

.dialog-input {
  border: 1px solid $darkcolor;
}

.no-valid-email {
  border-color: rgb(189, 0, 0) !important;
}

.add-dropdown-cell {
  @include dFlex($fd: row, $g: 8px);
  button {
    mat-icon {
      margin: 0;
    }
  }
}
