<div class="table-container">
  <div class="button-container">
    <button class="head-button-container" mat-button>
      <mat-icon>unarchive</mat-icon>
      <span>Active</span>
    </button>
    <button class="head-button-container" mat-button (click)="tableControl.deleteContacts('inactiveContacts')">
      <mat-icon>delete</mat-icon>
      <span>Delete</span>
    </button>
  </div>
  <div id="customers" class="table">
    <!-- Table Header -->
    <div class="table-head row">
      <div class="cell checkbox-cell">
        <section (click)="tableControl.checkAllContacts('inactiveContacts')" class="example-section">
          <mat-checkbox [checked]="tableControl.allCheckedInactive" class="example-margin"></mat-checkbox>
        </section>
      </div>
      @for(item of this.dataManagement.inactiveTableColumns; track $index; let i = $index) {
      @if (item.type == "dropdown" && item.used) {
      <div class="cell columnCell" (mouseover)="hoverAction('none', i)" (mouseleave)="mouseOutAction()">
        <span>{{item.name}}</span>
        <mat-icon (click)="tableControl.deleteColumn('inactiveTableColumns', item.id)"
          [ngClass]="{'d-none': !columnHovered[i]}">more_vert</mat-icon>
      </div>
      } @else if (item.index <= 2) { <div class="cell header-cell">
        <span>{{item.name}}</span>
    </div>
    }
    }

    <!-- Add Column Menu -->
    @if (!this.dataManagement.inactiveCheck) {
    <div class="cell button-container">
      <mat-icon class=" blue-color-icon" [matMenuTriggerFor]="menu" matTooltip="Add a new Column">add_circle</mat-icon>
      <mat-menu #menu="matMenu">
        @for (item of this.dataManagement.inactiveTableColumns; track item; let i = $index) {
        @if (!item.used && item.index > 2) {
        <button (click)="tableControl.addColumn('inactiveTableColumns', item.id)" class="matMenu-button" mat-menu-item>
          <mat-icon [ngStyle]="{'color': item.color}" class="type column-icon">{{item.icon}}</mat-icon>
          {{item.name}}</button>
        }
        }
      </mat-menu>
    </div>
    }
  </div>

  <!-- Table Content Rows -->
  @if (dataManagement.inactiveContacts.length > 0) {
  @for (contact of this.dataManagement.inactiveContacts; track $index; let i = $index) {
  <div class="row content-row">
    <div class="cell checkbox-cell">
      <section class="example-section">
        <mat-checkbox [(ngModel)]="contact.checked" class="example-margin"></mat-checkbox>
      </section>
    </div>
    <div class="cell Contacts">
      <input [(ngModel)]="contact.name" #nameValue [value]="contact.name"
        (blur)="tableControl.changeNameOnBlur($event, 'inactiveContacts', contact.id)"
        (keyup)="tableControl.changeName($event, 'inactiveContacts', contact.id, nameValue.value)">
    </div>
    <!-- Tel Edit Menu -->
    @if (contact.tel.length > 0) {
    <div (mouseover)="hoverAction('tel', i)" (mouseout)="mouseOutAction();" class="cell email-cell"><a
        [href]="'tel:' + contact.email">{{contact.tel}}</a><mat-icon
        (click)="tableControl.deleteTel(contact.id, 'inactiveContacts')"
        [ngClass]="{'d-none': !contact.telHovered}">edit</mat-icon>
    </div>
    } @else {
    @if (!contact.telEdit) {
    <div class="cell email-cell add-button">
      <mat-icon (click)="tableControl.openTelInput('inactiveContacts', contact.id, $event)">add_box</mat-icon><mat-icon
        class="default-icon">phone_iphone</mat-icon>
    </div>
    } @else {
    <div class="cell">
      <input class="dialog-input" type="number" (click)="tableControl.preventDefault($event)"
        (keydown)="tableControl.saveTelData($event, contact.id, 'inactiveContacts')" placeholder="0 (123) 123 45690">
    </div>
    }
    }
    <!-- Email Edit Menu -->
    @if (contact.email.length == 0) {
    <form class="cell email-cell add-button">
      <mat-icon
        (click)="tableControl.openEmailDialog($event, 'inactiveContacts', contact.id, $event)">add_box</mat-icon><mat-icon
        class="default-icon no-icon-action">mail</mat-icon>
      <div (click)="tableControl.closeEmailDialog('inactiveContacts', contact.id)" class="input-dialog"
        [ngClass]="{'d-none': !contact.emailEdit}">
        <div (click)="tableControl.preventDefault($event)"
          [ngStyle]="{'top': tableControl.dialogPositionY + 'px', 'left': tableControl.dialogPositionX + 'px'}">
          <span>Add a new email-adress</span>
          <input class="dialog-input" [ngClass]="{'no-valid-email': tableControl.noValidEmail}" placeholder="Add email"
            type="email" #emailInput
            (keydown)="tableControl.onInputKeydown($event, contact.id, emailInput.value, 'inactiveContacts')">
          <span>Displayed text</span>
          <input class="dialog-input" type="text" id="visible" placeholder="(optional)"
            (keyup)="tableControl.visibleEmail($event, contact.id, emailInput.value, 'inactiveContacts')">
        </div>
      </div>
    </form>
    <!-- Email Data -->
    } @else {
    <div (mouseover)="hoverAction('email', i)" (mouseout)="mouseOutAction();" class="cell email-cell"><a
        [href]="'mailto:' + contact.email">
        @if (contact.email.length > 0) {
        {{contact.email}}
        } @else {
        {{contact.visibleEmail}}
        }
      </a><mat-icon [ngClass]="{'d-none': !contact.emailHovered}"
        (click)="tableControl.deleteEmail(contact.id, 'inactiveContacts');">edit</mat-icon>
    </div>
    }

    <!-- Added Cells with Dropdown -->
    @if (contact.badgeType.length == 0) {
    @for (cell of dataManagement.inactiveTableColumns; track $index) {
    @if (cell.type == "dropdown" && cell.used) {
    <div class="cell add-dropdown-cell">
      <mat-icon class="arrow-drop-icon" [matMenuTriggerFor]="dropdown">arrow_drop_down</mat-icon>
      <mat-menu #dropdown="matMenu">
        <div class="badge-menu">
          @for (dropdown of cell.availableDropdowns; track $index; let i = $index) {
          <div class="badge" (click)="tableControl.addBadgeToContact(dropdown, cell, contact, 'inactiveContacts')"
            [ngStyle]="{'background-color': dropdown.color}">{{dropdown.name}}</div>
          }
        </div>
      </mat-menu>
    </div>
    }
    }
    } @else if (contact.badgeType.length > 0) {
    @for (cell of dataManagement.inactiveTableColumns; track $index) {
    @if (cell.type == "dropdown" && cell.used) {
    <div class="cell add-dropdown-cell">
      @if (contact.badgeType == 'User Roles' && cell.name === 'User Roles') {
      <div class="badge" [matMenuTriggerFor]="dropdown" [ngStyle]="{'background-color': contact.badgeColorRole}">
        {{contact.role}}
      </div>
      } @else if (contact.badgeType == 'Standing' && cell.name == 'Standing') {
      <div class="badge" [matMenuTriggerFor]="dropdown" [ngStyle]="{'background-color': contact.badgeColorStatus}">
        {{contact.status}}
      </div>
      } @else if (contact.badgeType == 'Priority' && cell.name == 'Priority') {
      <div class="badge" [matMenuTriggerFor]="dropdown" [ngStyle]="{'background-color': contact.badgeColorPrio}">
        {{contact.prio}}
      </div>
      }
      <mat-menu #dropdown="matMenu">
        <div class="badge-menu">
          @for (dropdown of cell.availableDropdowns; track $index; let i = $index) {
          <div class="badge" (click)="tableControl.addBadgeToContact(dropdown, cell, contact, 'inactiveContacts')"
            [ngStyle]="{'background-color': dropdown.color}">{{dropdown.name}}</div>
          }
        </div>
      </mat-menu>
    </div>
    }
    }
    }
    @if (!this.dataManagement.inactiveCheck) {
    <div class="cell"></div>
    }
  </div>
  }
  }

  <!-- Add New Contact Row -->
  <div class="row content-row add-contact-row" (keydown)="tableControl.keyboardAddContact($event, 'inactiveContacts')">
    <div class="cell empty-field checkbox-cell"></div>
    <div class="cell add-button contact-add">
      <mat-icon (click)="tableControl.mouseAddContact('inactiveContacts')">add_circle</mat-icon>
      <input [(ngModel)]="tableControl.newContactInactive" type="text" placeholder="Add contact">
    </div>
    <div class="cell typ-cell"></div>
    <div class="cell"></div>
    @for (item of dataManagement.inactiveTableColumns; track $index) {
    @if (item.type == "dropdown" && item.used) {
    <div class="cell"></div>
    }
    }
    @if (!this.dataManagement.inactiveCheck) {
    <div class="cell"></div>
    }


  </div>
</div>
</div>