@import "../../../../../mixins.scss";

input {
  width: 100%;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 1px solid rgb(184, 184, 184);
  border-color: transparent;
  border-radius: 5px;
  background: none;
  padding: 5px;
  margin: 0;
  font: inherit;
  color: inherit;
  box-shadow: none;
  outline: none;
  transition: all 125ms ease-in-out;
  &:hover {
    border-color: rgb(184, 184, 184);
  }
  &:focus {
    border: 1px solid grey;
  }
}

.button-container {
  mat-icon {
    margin: 0;
  }
  button {
    color: $lightcolor;
    background-color: $darkcolor;
  }
  mat-icon {
    color: $lightcolor;
  }
}

.add-container {
  mat-icon {
    border-radius: 50%;
    cursor: pointer;
    transition: all 100ms ease-in-out;
    &:hover {
      background-color: $lightcolorHover;
    }
    &:active {
      background-color: $lightcolor;
    }
  }
}

.add {
  @include dFlex($fd: row, $g: 8px);
  width: 26px;
  height: 26px;
  mat-icon {
    @include dFlex();
    cursor: pointer;
    color: $darkcolor;
    transition: all 100ms ease-in-out;
    &:hover {
      color: $darkcolorHover;
    }
  }
}

.empty-field {
  background-color: white;
  &:hover {
    background-color: #ffffff00 !important;
  }
}

.row {
  display: flex;
}

.cell {
  padding: 0px 8px;
  min-height: 50px;
  min-width: 210px;
  @include dFlex($fd: row);
  flex: 1;
  border: 1px solid #ddd;
}

.checkbox-cell {
  min-width: 50px;
  flex: 0;
  padding: 0;
  position: sticky;
  background-color: white;
}

.typ-headcell .typ-cell {
  flex: 0;
  min-width: 120px;
}

.email-cell {
  @include dFlex($fd: row, $g: 4px, $jc: space-between);
  font-size: 12px;
  mat-icon {
    @include dFlex();
    width: 18px;
    height: 18px;
    font-size: 14px;
    background-color: lightgrey;
    transition: all 125ms ease-in-out;
    cursor: pointer;
    border-radius: 50%;
    &:hover {
      background-color: rgb(194, 194, 194);
    }
  }
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-contact-row .add {
  display: flex;
  align-items: center;
}

.note {
  color: #ff9800 !important;
}

.type {
  color: #2196f3 !important;
}

.status {
  color: #4caf50 !important;
}

.prio {
  color: #f44336 !important;
}

.add-button {
  @include dFlex($fd: row, $g: 8px);
  color: $darkcolor;
  mat-icon {
    height: 28px;
    width: 28px;
    font-size: 20px;
  }
}

.default-icon {
  color: grey;
  background-color: transparent !important;
  cursor:auto !important;
  &:hover {
    background-color: transparent !important;
  }
}

.input-dialog {
  > div {
    position: absolute;
    top: 28px;
    width: max-content;
    @include dFlex($g: 8px);
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 15px;
    padding: 16px;
  }
}


.dialog-input {
  border: 1px solid $darkcolor;
}
