<mat-drawer-container class="menu-container" autosize (click)="tableControl.closeAllEdits('activeContacts')">
    <mat-drawer #drawer class="sidenav" mode="side" [opened]="true">
        <div class="logo-container">
            <img [routerLink]="['']" src="assets/icons/beziehung.png" alt="">
            <span>BLACKLIGHT RECORDS CRM</span>
        </div>
        <ul class="menu">
            <li [routerLink]="['']"><mat-icon>space_dashboard</mat-icon>Dashboard</li>
            <li [routerLink]="['contacts']"><mat-icon>group</mat-icon>Contacts</li>
            <li [routerLink]="['deals']"><mat-icon>paid</mat-icon>Deals</li>
            <li [routerLink]="['customers']"><mat-icon>support_agent</mat-icon>Customers</li>
            <li [routerLink]="['schedule']"><mat-icon>date_range</mat-icon>Schedule</li>
        </ul>
    </mat-drawer>

    <div class="example-sidenav-content">
        <mat-toolbar class="toolbar">
            <div>
                <button mat-icon-button class="menu-button" aria-label="Example icon-button with menu icon"
                    (click)="drawer.toggle();">
                    <mat-icon>menu</mat-icon>
                </button>
                <span>Simple Musiclabel CRM</span>
            </div>
        </mat-toolbar>
        <div class="router-container">
            <router-outlet></router-outlet>
        </div>
    </div>
</mat-drawer-container>