<mat-drawer-container class="menu-container" autosize>
    <mat-drawer #drawer class="sidenav" mode="side" [opened]="true">
        <div class="logo-container">
            <img [routerLink]="['dashboard']" src="assets/icons/crm.png" alt="">
            <span>Simple CRM</span>
        </div>
        <ul class="menu">
            <li [routerLink]="['dashboard']"><mat-icon>space_dashboard</mat-icon>Dashboard</li>
            <li [routerLink]="['contacts']"><mat-icon>group</mat-icon>Contacts</li>
            <li><mat-icon>apartment</mat-icon>Organisations</li>
            <li><mat-icon>confirmation_number</mat-icon>Tickets</li>
            <li><mat-icon>quiz</mat-icon>FAQ</li>
        </ul>
    </mat-drawer>

    <div class="example-sidenav-content">
        <mat-toolbar class="toolbar">
            <div>
                <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon"
                    (click)="drawer.toggle()">
                    <mat-icon>menu</mat-icon>
                </button>
                <span>Simple CRM</span>
            </div>
            <div>
                <button mat-icon-button class="example-icon favorite-icon"
                    aria-label="Example icon-button with heart icon">
                    <mat-icon>favorite</mat-icon>
                </button>
                <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
                    <mat-icon>share</mat-icon>
                </button>
            </div>
        </mat-toolbar>
        <div class="router-container">
            <router-outlet></router-outlet>
        </div>
    </div>
</mat-drawer-container>