<div class="table-container">
  <div class="button-container">
    <button mat-button (click)="deleteAllDeals()">
      <mat-icon>delete</mat-icon>Trash
    </button>
  </div>
  <div id="customers" class="table">
    <!-- Table Header -->
    <div class="table-head row">
      <div class="cell checkbox-cell">
        <section class="example-section">
          <mat-checkbox
            (click)="checkAllDeals()"
            class="example-margin"
            [(ngModel)]="this.allChecked"
          ></mat-checkbox>
        </section>
      </div>
      @for(column of this.dataManagement.dealsColumns; track $index; let i =
      $index) { @if (column.name == "Deal") {
      <div class="cell Contacts header-cell">
        <span>{{ column.name }}</span>
      </div>
      } @else {
      <div class="cell">
        <span>{{ column.name }}</span>
      </div>
      } }
    </div>

    <!-- Table Content Rows -->
    @if (dataManagement.deals.length > 0) { @for (deal of
    this.dataManagement.deals; track $index; let i = $index) {
    <div class="row content-row">
      <div class="cell checkbox-cell">
        <section class="example-section">
          <mat-checkbox
            [(ngModel)]="deal.checked"
            class="example-margin"
          ></mat-checkbox>
        </section>
      </div>
      <div class="cell Contacts">
        <input
          type="text"
          #nameValue
          (input)="deal.name = getValue($event)"
          (blur)="saveDealName($event, deal.id, 'text')"
          (keyup)="saveDealWidthEnter($event, deal.id, nameValue, 'text')"
          [value]="deal.name"
        />
      </div>
      <!-- Deal Value -->
      <div class="cell">
        <input
          class="input-price"
          type="number"
          #priceValue
          (blur)="saveDealName($event, deal.id, 'number')"
          (keyup)="saveDealWidthEnter($event, deal.id, priceValue, 'number')"
          [value]="deal.dealValue"
        />
        <span>€</span>
      </div>
      <!-- Phase Dropdown Menu -->
      <div class="cell">
        @if (this.dataManagement.activeContacts.length > 0 &&
        deal.phaseBadge.used) {
        <div
          class="badge"
          [matMenuTriggerFor]="dropdownPhase"
          [ngStyle]="{ 'background-color': deal.phaseBadge.color }"
        >
          {{ deal.phaseBadge.name }}
        </div>
        } @else {
        <mat-icon class="arrow-drop-icon" [matMenuTriggerFor]="dropdownPhase"
          >arrow_drop_down</mat-icon
        >
        }
        <mat-menu #dropdownPhase="matMenu">
          <div class="badge-menu">
            <div
              class="badge"
              [ngStyle]="{ 'background-color': '#C0C0C0' }"
              (click)="deleteBadge(deal.id, 'phase')"
            >
              <mat-icon>delete_forever</mat-icon>
              <span>Delete</span>
            </div>
            @for (cell of this.dataManagement.dealsColumns; track $index; let i
            = $index) { @if (cell.name == 'Phase') { @for (dropdown of
            cell.availableDropdowns;track $index; let i = $index) {
            <div
              class="badge"
              (click)="addBadge(dropdown, deal.id, 'phase')"
              [ngStyle]="{ 'background-color': dropdown.color }"
            >
              <span >{{ dropdown.name }}</span>
            </div>
            } } }
          </div>
        </mat-menu>
      </div>
      <!-- Responsible Person -->
      <div class="cell">
        @if (this.dataManagement.activeContacts.length > 0 &&
        deal.responsibleBadge.used) {
        <div
          class="badge"
          [matMenuTriggerFor]="dropdownRespo"
          [ngStyle]="{ 'background-color': deal.responsibleBadge.color }"
        >
          {{ deal.responsibleBadge.name }}
        </div>
        } @else {
        <mat-icon class="arrow-drop-icon" [matMenuTriggerFor]="dropdownRespo"
          >arrow_drop_down</mat-icon
        >
        }
        <mat-menu #dropdownRespo="matMenu">
          <div class="badge-menu">
            <div
              class="badge"
              [ngStyle]="{ 'background-color': '#C0C0C0' }"
              (click)="deleteBadge(deal.id, 'respo')"
            >
              <mat-icon>delete_forever</mat-icon>
              <span>Delete</span>
            </div>
            @for (contact of dataManagement.activeContacts; track $index; let i
            = $index) {
            <div
              class="badge"
              (click)="addBadge(contact, deal.id, 'respo')"
              [ngStyle]="{ 'background-color': contact.color }"
            >
              <mat-icon>account_circle</mat-icon>
              <span>{{ contact.name }}</span>
            </div>
            }
          </div>
        </mat-menu>
      </div>
      <!-- Closing Date -->
      <div class="cell" (click)="openDatePicker(dateValue)">
        <input
          #dateValue
          type="date" minDate="0" [min]="today"
          (blur)="closeDatePicker($event, deal.id)"
          [value]="deal.closingDate"
        />
      </div>
    </div>
    } }

    <!-- Add New Contact Row -->
    <div
      class="row content-row add-contact-row"
      (keydown)="this.addNewDeal($event)"
    >
      <div class="cell empty-field checkbox-cell"></div>
      <div class="cell add-button contact-add second-cell">
        <mat-icon (click)="this.addDealToCloud()">add_circle</mat-icon>
        <input
          [(ngModel)]="this.newDealValue"
          type="text"
          placeholder="New Deal"
        />
      </div>
      <div class="cell typ-cell"></div>
      <div class="cell"></div>
      @for (item of dataManagement.dealsColumns; track $index) { @if (item.index
      > 2) {
      <div class="cell"></div>
      } }
    </div>
  </div>
</div>
