@import "../../../mixins.scss";

input {
  width: 100%;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: 1px solid rgb(184, 184, 184);
  border-color: transparent;
  border-radius: 5px;
  background: none;
  margin: 0;
  padding: 5px;
  font: inherit;
  color: inherit;
  box-shadow: none;
  outline: none;
  transition: all 125ms ease-in-out;

  &:hover {
    border-color: rgb(184, 184, 184);
  }

  &:focus {
    border: 1px solid grey;
  }
}

.input-price {
  text-align: end;
}

.button-container {
  mat-icon {
    background: none;
    color: white;
    margin: 0;

    &:hover {
      background-color: none;
      color: none;
    }
  }

  button {
    color: white;
    background-color: $darkcolor;
  }
}

.empty-field {
  background-color: white;

  &:hover {
    background-color: #ffffff00 !important;
  }
}

.row {
  display: flex;
}

.cell {
  padding: 0px 8px;
  min-height: 50px;

  min-width: 210px;
  @include dFlex($fd: row);
  flex: 1;
  border: 1px solid #ddd;
}

.header-cell {
  justify-content: flex-start;
  color: $darkcolorHover;
}

.columnCell {
  @include dFlex($fd: row, $jc: space-between);
}

mat-icon {
  @include dFlex();
  text-align: center;
  transition: all 125ms ease-in-out;
  cursor: pointer;
  background-color: lightgrey;
  border-radius: 50%;
  color: $darkcolor;
  font-size: 18px;
  width: 24px;
  height: 24px;

  &:hover {
    color: $darkcolorHover;
    background-color: rgb(224, 224, 224);
  }
}

.no-icon-action {
  background-color: transparent;
  font-size: 20px;

  &:hover {
    color: grey;
    background-color: transparent;
  }
}

.blue-color-icon {
  color: $darkcolor !important;
  font-size: 32px;

  &:hover {
    color: $darkcolorHover !important;
  }
}

.column-icon {
  background-color: transparent;
  font-size: 32px;
}

.checkbox-cell {
  min-width: 50px;
  flex: 0;
  padding: 0;
  position: sticky;
  background-color: white;
}

.typ-headcell .typ-cell {
  flex: 0;
  min-width: 120px;
}

.matMenu-button {
  mat-icon {
    background-color: none !important;
  }
}

.email-cell {
  @include dFlex($fd: row, $g: 4px, $jc: space-between);
  font-size: 12px;

  a {
    overflow: hidden;
  }

  mat-icon {
    min-width: 24px;
    min-height: 24px;
  }
}

.head-button-container {
  @include dFlex($fd: row, $g: 4px);
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-contact-row .add {
  display: flex;
  align-items: center;
}

.add-button {
  @include dFlex($fd: row, $g: 8px);
  color: $darkcolor;

  mat-icon {
    height: 28px;
    width: 28px;
    font-size: 20px;
  }
}

.contact-add {
  mat-icon {
    font-size: 24px;
    background-color: transparent;
  }
}

.default-icon {
  color: grey;
  background-color: transparent !important;
  cursor: auto !important;

  &:hover {
    background-color: transparent !important;
  }
}

.input-dialog {
  >div {
    position: absolute;
    top: 28px;
    width: max-content;
    @include dFlex($g: 8px);
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 15px;
    padding: 16px;
  }
}

.dialog-input {
  border: 1px solid $darkcolor;
}

.no-valid-email {
  border-color: rgb(189, 0, 0) !important;
}

.add-dropdown-cell {
  @include dFlex($fd: row, $g: 8px);

  button {
    mat-icon {
      margin: 0;
    }
  }
}

.badge-menu {
  @include dFlex($g: 4px, $jc: flex-start, );
  overflow-y: auto;
  max-height: 240px;
  >.badge {
    @include dFlex($fd: row, $jc: flex-start, $g: 8px);
    min-height: 46px;
  }
}

.badge {
  @include dFlex($fd: row, $jc: center, $g: 8px);
  width: 90%;
  padding: 8px 16px;
  border-radius: 12px;
  color: white;
  font-weight: bold;
  text-align: center;
  position: relative;
  overflow: hidden;
  transition: all 0.125s ease-in-out;
  cursor: pointer;
  mat-icon {
    background-color: transparent;
    color: rgb(255, 255, 255);
    padding: 0;
    font-size: 24px;
    &:hover {
      background-color: transparent;
    }
  }
  span {
    text-align: start;
  }
}

.badge::before {
  content: "";
  position: absolute;
  top: -100%;
  left: 0%;
  width: 300%;
  height: 100%;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0) 15%, rgba(255, 255, 255, 0.384) 50%, rgba(255, 255, 255, 0) 85%);
  transform: rotate(-175deg);
  transition: all 0.125s ease-in-out;
  pointer-events: none;
}

.badge:hover::before {
  top: 40%;
}

.badge:hover {
  perspective: 500px;
  transform: rotateX(20deg) skewX(-2deg) scale(1.05);
  transform-origin: top;
}