<div class="table-container">
    <div class="button-container">
        <button mat-button><mat-icon>delete</mat-icon>Trash</button>
    </div>
    <div id="customers" class="table">
        <!-- Table Header -->
        <div class="table-head row">
            <div class="cell checkbox-cell">
                <section class="example-section">
                    <mat-checkbox (click)="checkAllDeals()" class="example-margin"></mat-checkbox>
                </section>
            </div>
            @for(column of this.dataManagement.dealsColumns; track $index; let i = $index) {
            @if (column.name == "Deal") {
            <div class="cell Contacts">
                <span>{{column.name}}</span>
            </div>
            } @else {
            <div class="cell">
                <span>{{column.name}}</span>
            </div>
            }
            }
        </div>

        <!-- Table Content Rows -->
        @if (dataManagement.deals.length > 0) {
        @for (deal of this.dataManagement.deals; track $index; let i = $index) {
        <div class="row content-row">
            <div class="cell checkbox-cell">
                <section class="example-section">
                    <mat-checkbox [(ngModel)]="deal.checked" class="example-margin"></mat-checkbox>
                </section>
            </div>
            <div class="cell Contacts">
                <input type="text" (input)="deal.name=getValue($event)" [value]="deal.name">
            </div>
            <!-- Deal Value -->
            <div class="cell">
                <input type="text" [value]="deal.dealValue">
            </div>
            <!-- Phase Dropdown Menu -->
            <div class="cell">
                {{deal.phaseBadge.name}}
            </div>
            <!-- Responsible Person -->
            <div class="cell">
                {{deal.responsible}}
            </div>
            <!-- Closing Date -->
            <div class="cell" (click)="openDatePicker(dateValue)">
                <input #dateValue type="date" (blur)="closeDatePicker($event, deal.id)" [value]="deal.closingDate">
            </div>
        </div>
        }
        }
    </div>
</div>