@import "./mixins.scss";

* {
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  height: 100vh;
  color: rgb(255, 255, 255);
  font-family: "segoe UI";
  font-weight: 600;
}

.hide-mobile {
  display: block;
}

.show-mobile {
  display: none;
}

::-webkit-scrollbar {
  width: 8px;
  height: 10px;
  transition: all 100ms ease-in-out;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
  transition: all 100ms ease-in-out;
}
::-webkit-scrollbar-thumb {
  background-color: $darkcolor;
  border: 0px none #ffffff;
  border-radius: 52px;
  transition: all 100ms ease-in-out;
}
::-webkit-scrollbar-thumb:hover {
  background-color: $darkcolorHover;
}
::-webkit-scrollbar-thumb:active {
  background-color: $darkcolor;
}
::-webkit-scrollbar-track {
  background-color: #ffffff;
  border: 0px none #ffffff;
  border-radius: 23px;
}

.d-none {
  display: none !important;
}

/* Table styling */

a {
  color: $darkcolor;
  text-decoration: none; 
  padding: 5px;
  border-radius: 3px;
  background-color: var(--lightcolor); 
  transition: all 125ms ease-in-out
}

/* Hover-Effekt */
a:hover {
  background-color: var(--lightcolorHover); 
  text-decoration: underline; 
}

.table-container {
  @include dFlex($g: 32px, $ai: flex-start);
  width: 100%;
  color: $darkcolor;
}

.table {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-x: auto;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 1px 3px 8px 4px rgba(0, 0, 0, 0.5);
}

.button-container {
  button {
    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.541);
    margin-right: 8px;
    color: $lightcolor;
    background-color: $darkcolor;
    transition: all 125ms ease-in-out;
    &:hover {
      background-color: $darkcolorHover;
      box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
    }
    &:active {
      &:hover {
        background-color: $darkcolor;
      }
    }
  }
}

@font-face {
  src: url("../src/assets/fonts/Khand-Light.ttf") format("truetype");
  font-family: "Khand";
  font-weight: 300;
  font-style: normal;
}

@font-face {
  src: url("../src/assets/fonts/Khand-Regular.ttf") format("truetype");
  font-family: "Khand";
  font-weight: 400;
  font-style: normal;
}

@font-face {
  src: url("../src/assets/fonts/Khand-Medium.ttf") format("truetype");
  font-family: "Khand";
  font-weight: 500;
  font-style: normal;
}

@font-face {
  src: url("../src/assets/fonts/Khand-SemiBold.ttf") format("truetype");
  font-family: "Khand";
  font-weight: 600;
  font-style: normal;
}

@font-face {
  src: url("../src/assets/fonts/Khand-Bold.ttf") format("truetype");
  font-family: "Khand";
  font-weight: 700;
  font-style: normal;
}

@media (max-width: 1000px) {
  .hide-mobile {
    display: none;
  }
  
  .show-mobile {
    display: block;
  }
}
