@use "./mixins.scss";

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "segoe UI";
  font-weight: 600;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  height: 100vh;
  color: white;
}

.d-none {
  display: none !important;
}

@font-face {
  src: url("../src/assets/fonts/Khand-Light.ttf") format("truetype");
  font-family: "Khand";
  font-weight: 300;
  font-style: normal;
}

@font-face {
  src: url("../src/assets/fonts/Khand-Regular.ttf") format("truetype");
  font-family: "Khand";
  font-weight: 400;
  font-style: normal;
}

@font-face {
  src: url("../src/assets/fonts/Khand-Medium.ttf") format("truetype");
  font-family: "Khand";
  font-weight: 500;
  font-style: normal;
}

@font-face {
  src: url("../src/assets/fonts/Khand-SemiBold.ttf") format("truetype");
  font-family: "Khand";
  font-weight: 600;
  font-style: normal;
}

@font-face {
  src: url("../src/assets/fonts/Khand-Bold.ttf") format("truetype");
  font-family: "Khand";
  font-weight: 700;
  font-style: normal;
}
